{% macro nav_item(view_name, title) -%}
  {#
   # Create a nav item, setting the active state of the item corresponding
   # to the current view. Must be imported into templates with context in
   # order to access the view's name.
   #}
  {% if request.resolver_match.view_name == view_name %}
    <a href="#" class="ml-6 hover:no-underline text-gray-500">{{ title }}</a>
  {% else %}
    <a href="{{ url(view_name) }}" class="ml-6">{{ title }}</a>
  {% endif %}
{%- endmacro %}

{% macro thumbnail(book) -%}
  {#
   # Display a link to the Book details page, containing a small thumbnail of the
   # cover as well as the Book's title.
   #}
  <a href="{{ url('book', args=[book.id]) }}">
    <figure class="thumbnail">
        <img src="{{ book.image_url }}" alt="{{ book.title }}" />
        <figcaption>{{ book.title }}</figcaption>
    </figure>
  </a>
{%- endmacro %}

{% macro series_summary(books) -%}
  {#
   # ???
   #}
  {% set series = books[0].series %}

  <div class="card flex flex-col mb-3">
    <div class="flex items-center mb-6">
      <a href="{{ url('series', args=[series.id]) }}" class="text-lg uppercase">{{ series.title }}</a>
      <a href="{{ url('edit_series', args=[series.id]) }}" class="ml-6 text-xs">Edit</a>
    </div>
    <div class="flex flex-wrap">
      {% for book in books %}
        {{ thumbnail(book) }}
      {% endfor %}
    </div>
  </div>
{%- endmacro %}
