{% macro text_field(title, placeholder="", value="") -%}
  {#
   # Create a fieldset containing a title and text input with the specified
   # value.
   #}
  <fieldset>
    <p>{{ title }}</p>
    <input type="text" name="{{ title.replace(' ', '_')|lower }}" placeholder="{{ placeholder }}" value="{{ value }}" />
  </fieldset>
{%- endmacro %}

{% macro submit_field(value="Update") -%}
  {#
   # Create a fieldset containing a submit input.
   #}
  <fieldset>
    <p><!-- spacer --></p>
    <input type="submit" value="{{ value }}" />
  </fieldset>
{%- endmacro %}
