/* Card component styles */

.card {
  @apply border border-gray-400 bg-white px-8 py-4;
}

  .card > h1 {
    @apply mb-6 tracking-wide;
  }


/* Thumbnail component styles */

.thumbnail {
  @apply break-words mb-1 mr-1;
  width: 98px;
}

  .thumbnail img {
    height: 152px;
    width:  98px;
  }

  .thumbnail figcaption {
    @apply p-1 text-xs;
  }


/* Paginator component styles */

.paginator {
  @apply flex items-center justify-center mt-12;
}

  .paginator p {
    @apply px-6 text-center text-sm uppercase;
  }
  
  .paginator span {
    @apply cursor-pointer text-gray-700 text-sm uppercase w-20;
  }

    .paginator span:hover {
      @apply underline;
    }

    .paginator span:last-of-type {
      @apply text-right;
    }


/* Loading spinner component styles */

.lds-ring {
  @apply h-4 ml-4 relative w-4;
}

  .lds-ring div {
    @apply absolute block border-2 border-black h-4 w-4;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%;
    margin: 2px;
  }

    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
