/* Import all of Tailwind CSS */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Base Element styles */

h1, h2 {
  @apply uppercase;
}
h1 {
  @apply text-lg;
}
h2 {
  @apply text-gray-700;
}

a {
  @apply cursor-pointer text-sm uppercase;
}
  a:hover {
    @apply underline;
  }

table {
  @apply my-6;
}
  table tr> td {
    @apply p-0 pb-1;
  }
  table tr> td:first-of-type {
    @apply font-semibold text-sm uppercase w-32;
  }
  table.wider tr> td:first-of-type {
    @apply w-64;
  }


/* Forms */

fieldset {
  @apply flex items-center mb-2;
}
  fieldset> p {
    @apply w-1/4;
  }

input[type=text] {
  @apply border border-gray-700 flex-1 px-2 py-1 w-full;
}

input[type=submit] {
  @apply cursor-pointer mt-6;
}
  input[type=submit]:hover {
    @apply underline;
  }


/* Component styles */

.card {
  @apply border border-gray-400 bg-white px-6 py-3;
}

.thumbnail {
  @apply break-words mb-1 mr-1;
  width: 98px;
}
  .thumbnail img {
    height: 152px;
    width: 98px;
  }
  .thumbnail figcaption {
    @apply p-1 text-xs;
  }

.search-result-item {
  @apply border border-gray-500 bg-white flex justify-between mb-3 px-6 py-3;
}
  .search-result-item> figure {
    @apply mr-6;
  }

.paginator {
  @apply flex items-center justify-center mt-12;
}
  .paginator p {
    @apply px-6 text-center text-sm uppercase;
  }
  .paginator span {
    @apply cursor-pointer text-gray-700 text-sm uppercase w-20;
  }
    .paginator span:hover {
      @apply underline;
    }
    .paginator span:last-of-type {
      @apply text-right;
    }


/* Loading spinner */

.lds-ring {
  @apply h-4 ml-4 relative w-4;
}
  .lds-ring div {
    @apply absolute block border-2 border-black h-4 w-4;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%;
    margin: 2px;
  }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
