/* Import all of Tailwind CSS */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Base Element styles */

a {
  @apply text-sm uppercase;
}
  a:hover {
    @apply underline;
  }

table {
  @apply my-6;
}
  table tr> td {
    @apply p-0 pb-1;
  }
  table tr> td:first-of-type {
    @apply font-semibold text-sm uppercase w-32;
  }
  table.wider tr> td:first-of-type {
    @apply w-64;
  }


/* Component styles */

.card {
  @apply border border-gray-400 bg-white px-6 py-3;
}

.thumbnail {
  @apply break-words mb-1 mr-1;
  width: 98px;
}
  .thumbnail img {
    height: 152px;
    width: 98px;
  }
  .thumbnail figcaption {
    @apply p-1 text-xs;
  }

.paginator {
  @apply flex items-center justify-center mt-12;
}
  .paginator p {
    @apply px-6 text-center text-sm uppercase;
  }
  .paginator span {
    @apply cursor-pointer text-gray-700 text-sm uppercase w-20;
  }
    .paginator span:hover {
      @apply underline;
    }
    .paginator span:last-of-type {
      @apply text-right;
    }
