<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>{%block title %}Omnibus{% endblock %}</title>

  {{ render_bundle("main", "css") }}
  {% block styles %}{% endblock %}
</head>

<body class="font-sans leading-normal tracking-normal">
  {% include "web/partials/_header.html" %}

  <main class="container mx-auto px-6 py-12">
    {% block content %}{% endblock %}
  </main>

  {{ render_bundle("main", "js") }}
  {% block scripts %}{% endblock %}
</body>

</html>
