{% macro thumbnail(book) -%}
{#
 # Display a link to the Book details page, containing a small thumbnail of the
 # cover as well as the Book's title.
 #}
<a href="{{ url('book', args=[book.id]) }}" title="{{ book.title }}" class="hover:underline">
  <figure class="thumbnail">
    <img src="{{ book.image_url }}" />
    <figcaption>{{ book.title }}</figcaption>
  </figure>
</a>
{%- endmacro %}
