{% extends "web/partials/base.html" %}


{% block content %}
  <p class="mb-6">Displaying {{ num_series }} series comprising of {{ num_books }} books by {{ num_authors }} authors.</p>

  <div class="flex flex-col">
    {% for series_title in series|sort %}
      <div class="flex flex-col mb-6 py-3">
        <a href="#" class="mb-3 text-lg hover:underline">{{ series_title }}</a>
        <div class="flex flex-wrap">
          {% for book in series[series_title] %}
            <img src="{{ book.image_url }}" title="{{ book.title }}" class="thumbnail" />
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
