{% extends "web/partials/base.html" %}


{% block content %}
  <p class="mb-6">
    Displaying {{ stats["total_series"] }} series comprising of {{ stats["total_books"] }} books by {{ stats["total_authors"] }} authors.
    <br />
    Most popular author is {{ stats["top_author"] }} with {{ stats["top_author_count"] }} books.
  </p>

  <div class="flex flex-col">
    {% for (series_title, series_id) in series|sort %}
      <div class="flex flex-col mb-6 py-3">
        <div class="mb-3">
          <a href="{{ url('series', args=[series_id]) }}" class="text-lg hover:underline">{{ series_title }}</a>
        </div>
        <div class="flex flex-wrap">
          {% for book in series[(series_title, series_id)] %}
            <img src="{{ book.image_url }}" title="{{ book.title }}" class="thumbnail" />
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
