{% extends "web/partials/base.html" %}
{% from "web/macros/forms.jinja" import text_field, submit_field %}


{% block title %}
{{ series.title }} - Omnibus
{% endblock %}


{% block content %}
<div class="card">
  <div class="mb-12">
    <h1>Edit Series</h1>
    <h2>{{ series.title }}</h2>
  </div>

  <form method="post" action="{{ url('edit_series', args=[series.id]) }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

    {{ text_field("Title", value=series.title) }}
    {{ submit_field("Update series") }}
  </form>
</div>
{% endblock %}
