{% extends "web/partials/base.html" %}
{% from "web/macros/forms.jinja" import text_field, submit_field %}


{% block title %}
{{ book.title }} - Omnibus
{% endblock %}


{% block content %}
<div class="card">
  <div class="mb-12">
    <h1>Edit Book</h1>
    <h2>{{ book.title }}</h2>
  </div>

  <form method="post" action="{{ url('edit_book', args=[book.id]) }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

    {{ text_field("Title", value=book.title) }}

    <fieldset class="flex items-center mb-2">
      <p class="w-1/5">Publisher</p>
      <select name="publisher">
        {% for p in publishers %}
          {% if p.id == book.publisher.id %}
            <option value="{{ p.id }}" selected>{{ p.name }}</option>
          {% else %}
            <option value="{{ p.id }}">{{ p.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </fieldset>

    <fieldset class="flex items-center mb-2">
      <p class="w-1/5">Series</p>
      <select name="series">
        {% for s in series %}
          {% if s.id == book.series.id %}
            <option value="{{ s.id }}" selected>{{ s.title }}</option>
          {% else %}
            <option value="{{ s.id }}">{{ s.title }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </fieldset>

    {{ submit_field("Update book") }}
    
  </form>
</div>
{% endblock %}
