{% extends "web/partials/base.html" %}
{% from "web/macros/components.jinja" import thumbnail %}


{% block content %}
  <div class="flex flex-col">
    {% for (series_title, series_id) in series|sort %}
      <div class="card flex flex-col mb-3">
        <div class="mb-6">
          <a href="{{ url('series', args=[series_id]) }}" class="text-lg">{{ series_title }}</a>
        </div>
        <div class="flex flex-wrap">
          {% for book in series[(series_title, series_id)] %}
            {{ thumbnail(book) }}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <p>There's nothing here, yet.</p>
    {% endfor %}
  </div>
{% endblock %}
