{% extends "web/partials/base.html" %}
{% from "web/macros/components.jinja" import loading %}
{% from "web/macros/forms.jinja" import text_field, submit_field %}


{% block title %}
Manage - Omnibus
{% endblock %}


{% block content %}
<div class="card">
  <h1 class="my-6">Sync with Goodreads</h1>
  <div class="mb-12">
    <p class="mb-6">Syncing with your Goodreads account can potentially take multiple minutes if you have a large collection; please be patient. You will be automatically redirected when the operation completes.</p>
    <a href="{{ url('sync') }}" id="sync">Sync</a>
    {{ loading() }}
  </div>

  <h1 class="mb-6">Create Series</h1>
  <div class="mb-6">
    <p class="mb-12">Manually create a series. Goodreads doesn't always have the best data for this.</p>
    <form method="post" action="">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

      {{ text_field("Series ID", placeholder="Series ID")}}
      {{ text_field("Title", placeholder="Series title") }}
      {{ submit_field("Create series") }}
    </form>
  </div>

  <h1>Create Publisher</h1>
  <div>
    <p class="mb-12">Manually create a publisher. Goodreads doesn't always have the best data for this.</p>
    <form method="post" action="">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

      {{ text_field("Name", placeholder="Publisher name") }}
      {{ submit_field("Create publisher") }}
    </form>
  </div>
</div>
{% endblock %}
