{% extends "web/partials/base.html" %}
{% from "web/macros/forms.jinja" import text_field, submit_field %}


{% block title %}
Manage - Omnibus
{% endblock %}


{% block content %}
<div class="card">
  <h1>Sync with Goodreads</h1>
  <div class="mb-12">
    <p class="mb-6">Syncing with your Goodreads account can be a lengthy process if you have read a large number of books. Because of this, the sync takes place in the background. You may continue to use the site once the sync has been started.</p>
    {% if goodreads_user_id %}
      <div class="flex items-center mb-3">
        <p class="text-sm uppercase w-40">Goodreads user ID:</p>
        <a href="https://www.goodreads.com/user/show/{{ goodreads_user_id }}"
           target="_blank" title="Goodreads user profile (opens in a new tab)" class="text-sm">
          {{ goodreads_user_id }}
        </a>
      </div>
      <div class="flex items-center mb-1">
        <p class="text-sm uppercase w-40">Last sync:</p>
        <span class="text-sm">{{ last_sync_time if last_sync_time else "-" }}</span>
      </div>
      <div class="flex items-center mb-6">
        <p class="text-sm uppercase w-40">Next sync:</p>
        <span class="text-sm">{{ next_sync_time if next_sync_time else "-" }}</span>
      </div>
      <a href="{{ url('sync') }}" id="sync" class="button">Sync</a>
    {% else %}
      <p class="text-sm uppercase">No Goodreads user ID configured.</p>
    {% endif %}
  </div>

  <h1>Create Series</h1>
  <div class="mb-12">
    <p class="mb-12">Manually create a series. Goodreads doesn't always have a series defined, or may have a less than optimal series defined.</p>
    <form method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

      {{ text_field("Series ID", placeholder="Series ID")}}
      {{ text_field("Title", placeholder="Series title") }}
      {{ submit_field("Create series", show_cancel=False) }}
    </form>
  </div>

  <h1>Create Publisher</h1>
  <div>
    <p class="mb-12">Manually create a publisher. Goodreads doesn't always have a publisher defined.</p>
    <form method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

      {{ text_field("Name", placeholder="Publisher name") }}
      {{ submit_field("Create publisher", show_cancel=False) }}
    </form>
  </div>
</div>
{% endblock %}
