{% extends "web/partials/base.html" %}
{% from "web/macros/components.jinja" import series_summary, thumbnail %}


{% block title %}
{{ publisher.name or "No publisher" }} - Omnibus
{% endblock %}


{% block content %}
<h1 class="mb-8">{{ publisher.name or "No publisher" }}</h1>
<div class="flex flex-col">
  {% for (series_title, series_id) in books|sort %}
    {{ series_summary(books[(series_title, series_id)]) }}
  {% else %}
    <p>There's nothing here, yet.</p>
  {% endfor %}
</div>
{% endblock %}
