{% extends "web/partials/base.html" %}
{% from "web/macros/search_results.jinja" import results_count, result_item, paginator %}


{% block title %}
Search - Omnibus
{% endblock %}


{% block content %}
<p class="mb-3">Search books by title, author, or ISBN</p>

<form method="get" action="{{ url('search') }}" class="mb-12">
  <input id="page-number" name="page" type="hidden" value="{{ page if page else 1 }}" />
  <input type="text" name="query" placeholder="Search" autofocus />
</form>

{% if results %}
  {{ results_count(results) }}

  {% for work in results["results"]["work"] %}
    {{ result_item(work, read) }}
  {% endfor %}

  {{ paginator(results, page) }}
{% endif %}
{% endblock %}
