{% extends "web/partials/base.html" %}
{% from "web/macros/components.jinja" import thumbnail %}


{% block title %}
{{ series.title }} - Omnibus
{% endblock %}


{% block content %}
<div class="card">
  <h1 class="text-lg uppercase">{{ series.title }}</h1>
  {% if books[0].publisher %}
    <h2 class="text-gray-700 uppercase">{{ books[0].publisher }}</h2>
  {% endif %}
  <div class="my-6">{{ series.description.replace("\n", "<br />")|safe }}</div>

  <div class="flex flex-wrap">
    {% for book in books %}
      {{ thumbnail(book) }}
    {% endfor %}
  </div>
</div>
{% endblock %}
