{% extends "web/partials/base.html" %}


{% block title %}
Stats - Omnibus
{% endblock %}


{% block content %}
<div class="card">
  <h1 class="my-6">General</h1>
  <table class="wider">
    <tr>
      <td>Authors</td>
      <td>{{ stats["totals"]["authors"] }}</td>
    </tr>
    <tr>
      <td>Series</td>
      <td>{{ stats["totals"]["series"] }}</td>
    </tr>
    <tr>
      <td>Books</td>
      <td>{{ stats["totals"]["books"] }}</td>
    </tr>
    <tr>
      <td>Pages</td>
      <td>{{ stats["totals"]["pages"] }}</td>
    </tr>
  </table>

  <h1 class="my-6">Authors</h1>
  <table class="wider">
    <tr>
      <td>Top Author</td>
      <td>{{ stats["authors"]["top"] }}</td>
    </tr>
    <tr>
      <td>Books</td>
      <td>{{ stats["authors"]["count"] }}</td>
    </tr>
    <tr>
      <td>Pages</td>
      <td>{{ stats["authors"]["pages"] }}</td>
    </tr>
  </table>

  <h1 class="my-6">Series</h1>
  <table class="wider">
    <tr>
      <td>Longest Series</td>
      <td>{{ stats["series"]["longest"] }}</td>
    </tr>
    <tr>
      <td>Pages</td>
      <td>{{ stats["series"]["pages"] }}</td>
    </tr>
  </table>

  <h1 class="my-6">Publishers</h1>
  <table class="wider">
    {% for (publisher, count) in stats["publishers"].items() %}
      <tr>
        <td>{{ publisher }}</td>
        <td>{{ count }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
