{% extends "web/partials/base.html" %}


{% block title %}
Stats - Omnibus
{% endblock %}


{% block content %}
<p class="mb-12">
  <a href="{{ url('sync') }}">Sync</a> with Goodreads account (this may take awhile)
</p>

<table>
  <tr>
    <td>Authors</td>
    <td>{{ stats["total_authors"] }}</td>
  </tr>
  <tr>
    <td>Series</td>
    <td>{{ stats["total_series"] }}</td>
  </tr>
  <tr>
    <td>Books</td>
    <td>{{ stats["total_books"] }}</td>
  </tr>
</table>

<table>
  <tr>
    <td>Top Author</td>
    <td>{{ stats["top_author"] }}</td>
  </tr>
  <tr>
    <td>Books</td>
    <td>{{ stats["top_author_count"] }}</td>
  </tr>
</table>

<table>
  <tr>
    <td>Longest Series</td>
    <td>{{ stats["longest_series"] }}</td>
  </tr>
  <tr>
    <td>Pages</td>
    <td>{{ stats["longest_series_num_pages"] }}</td>
  </tr>
</table>
{% endblock %}
